<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dig-collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    {{#link-to 'index' class="navbar-brand"}}<img src="pells-images/logo.png" title="pells.ccMixter" />{{/link-to}}
  </div>

  <div class="collapse navbar-collapse" id="dig-collapse">
    <ul class="nav navbar-nav">
      <li>
        {{link-to 'browse pells' 'pells'}}
      </li>
      <li>
        {{#if loading}}<a href='#'><i style="color:white" class="fa fa-spinner fa-pulse"></i></a>{{/if}}
      </li>    
    </ul>{{! main navbar }}
    <div role="search" class="navbar-form navbar-right">
      <div class="form-group input-group input-group-small">
       <div class="input-group-btn">
        </div>
          {{input type="text" 
            class="form-control" 
            value=searchCollector
            enter="search"
            id="dig"
            size="30"
            placeholder=(t 'navbar.searchPlaceHolder')
          }}
        <span class="input-group-addon">              
          <a href='#' {{action "search" searchCollector}} ><i class="fa fa-search"></i></a>
        </span>
      </div>      
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{link-to 'about licenses' 'licenses'}}
      </li>
      <li>
        <a href="#" {{action 'goToAnchor' 'index' 'howitworks'}}>how it works</a>
      </li>
    </ul>    
  </div>{{! -- collapse -- }}
</div>{{! container-fluid }}

<article class="container-fluid center-text" id="qop">
  <form class="form-inline">
      <div class="form-group sliding_out">
          <div class="btn-group">
            {{link-to 'free'     'pells' (query-params lic='open')   class="btn btn-primary btn-sm"}}
            {{link-to 'licensed' 'pells' (query-params lic='ccplus') class="btn btn-primary btn-sm"}}
            {{link-to 'all'      'pells' (query-params lic='all')    class="btn btn-primary btn-sm"}}
          </div>
          <a {{action "popup" "license"}}><i class="fa fa-question-circle"></i></a>        
      </div>
    <div class="form-group">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-primary {{if loading 'disabled'}}" data-toggle="dropdown" href="#">
          <span class="light-text">limit</span> <strong>{{limit}}</strong>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        </ul>
      </div>
    </div>        
    <div class="form-group">
      <label class="btn btn-primary btn-sm">
        {{input type="checkbox" disabled=loading checked=model.recent }} recent
      </label>
    </div>
    <div class="form-group">
        <a href='#' class="btn btn-sm btn-warning {{if model.optionsAreClean 'disabled'}}" {{action "clearOptions"}}><i class="fa fa-power-off"></i> reset</a>
    </div>
  </form>
</article>
</nav>  
<div class="outlet-wrap {{if loading 'loading-screen fade'}}">
  {{outlet}}
</div>
{{#if audioPlayer.nowPlaying}} 
{{/if}}
  {{audio-player userAction="playlistActions"}}

