<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dig-collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    {{#link-to 'index' class="navbar-brand"}}<img src="pells-images/logo.png" title="pells.ccMixter" />{{/link-to}}
  </div>

  <div class="collapse navbar-collapse" id="dig-collapse">
    <ul class="nav navbar-nav">
      <li>
        {{link-to 'browse pells' 'pells'}}
      </li>
      <li>
        {{#if loading}}<a href='#'><i style="color:white" class="fa fa-spinner fa-pulse"></i></a>{{/if}}
      </li>    
    </ul>{{! main navbar }}
    <div role="search" class="navbar-form navbar-right">
      <div class="form-group input-group input-group-small">
       <div class="input-group-btn">
        </div>
          {{input type="text" 
            class="form-control" 
            value=searchCollector
            enter="search"
            id="dig"
            size="30"
            placeholder=(t 'navbar.searchPlaceHolder')
          }}
        <span class="input-group-addon">              
          <a href='#' {{action "search" searchCollector}} ><i class="fa fa-search"></i></a>
        </span>
      </div>      
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{link-to 'about licenses' 'licenses'}}
      </li>
      <li>
        <a href="#" {{action 'goToAnchor' 'index' 'howitworks'}}>how it works</a>
      </li>
    </ul>    
  </div>{{! -- collapse -- }}
</div>{{! container-fluid }}

</nav>  
<div class="outlet-wrap {{if loading 'loading-screen fade'}}">
  {{outlet}}
</div>
{{#if audioPlayer.nowPlaying}} 
  {{audio-player userAction="playlistActions"}}
{{/if}}

